<appSettings>

  <!-- ============================================= -->
  <!-- User website (login page) -->
  <!-- ============================================= -->
  <add key="UserWebsiteUrl" value="http://www.yourwebsite.com/" />

  <!-- ============================================= -->
  <!-- Mail -->
  <!-- ============================================= -->

  <!-- Admin email -->
  <add key="MailAdmin" value="administrator@website.com" />

  <!-- Supported email services: Smtp, SendGrid -->
  <add key="EmailService" value="Smtp" />

  <!-- Supported sms services: Twilio -->
  <add key="SmsService" value="Twilio" />

  <!-- SendGrid-->
  <add key="SendGridAccount" value="account" />
  <add key="SendGridPassword" value="password" />

  <!-- SMTP-->
  <add key="SmtpServer" value="smtp.gmail.com" />
  <add key="SmtpUserName" value="username" />
  <add key="SmtpPassword" value="password" />
  <add key="SmtpPort" value="587" />
  <add key="SmtpHtmlBody" value="True" />

  <!-- ============================================= -->
  <!-- Sms -->
  <!-- ============================================= -->

  <!-- Twilio-->
  <add key="TwilioSid" value="sid" />
  <add key="TwilioToken" value="token" />
  <add key="TwilioFromPhone" value="+206-555-1234" />

</appSettings>
