@using IM.Identity.Web.Resources
@{
    ViewBag.Title = "Confirm Account";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @ViewResource.ConfirmAdminEmailText
        @Html.ActionLink(@ViewResource.LoginFormLink, "Login", "Account")
    </p>
</div>
