@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h4 class="text-danger">@Model.Exception.Message</h4>
    }
    else
    {
        <h4 class="text-danger">@ViewBag.ErrorMessage</h4>
    }
}


