@using Microsoft.AspNet.Identity.EntityFramework
@model IdentityRole

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="row formLeftHeader">
        <div class="formInnerHeader">
            <h2 class="pageHeaderCaption">User Details</h2>
        </div>
    </div>

    <div class="layoutForm">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>
    </div>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
