@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Identity Administrator</h1>
    <p class="lead">Identity Administrator is an opensource application that helps the management of users and roles in projects using Microsoft Identity 2.0.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div class="col-sm-6 col-md-2">
        <div class="thumbnail tile tile-medium tile-green">
            <a href="Users" class="fa-links">
                <h1>Users</h1>
                <i class="fa fa-3x fa-users"></i>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-2">
        <div class="thumbnail tile tile-medium tile-orange">
            <a href="Roles" class="fa-links">
                <h1>Roles</h1>
                <i class="fa fa-3x fa-star"></i>
            </a>
        </div>
    </div>

</div>
