@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Identity Administrator</h1>
    <p class="lead">Identity Administrator is an user management application based on Microsoft Identity 2.0 framework</p>
</div>

<div class="row">

    <div class="col-sm-6 col-md-2">
        <a href="Users" class="fa fa-links">
            <div class="thumbnail tile tile-medium tile-green">
                <h1>Users</h1>
                <i class="fa fa-4x fa-users"></i>
            </div>
        </a>

    </div>

    <div class="col-sm-6 col-md-2">
        <a href="Roles" class="fa fa-links">
            <div class="thumbnail tile tile-medium tile-peter-river">
                <h1>Roles</h1>
                <i class="fa fa-4x fa-star"></i>
            </div>
        </a>
    </div>

</div>
